# tmw-kit

# tmw-back

/packages/tmw-back/storage
/packages/tmw-back/_lowdb.json

# ue_admin

/packages/ue_admin/public/settings.json
/packages/ue_admin/node_modules/*
/packages/ue_admin/.env.*
/packages/ue_admin/.env

# common

**/node_modules
**/dist
**/test
**/README.md
**/Dockerfile
**/.git
**/.gitignore
**/.pnpm-debug.log
**/pnpm-lock.yaml
**/.vscode
**/.env
**/.env.*

# other

/back/config/*.local.js


