version: '3.7'
services:
  mongodb:
    build: ./mongodb
    image: tms-mongodb/mongo:latest
    container_name: tms-mongo-mongo
  
  back:
    build: ./back
    image: tms-mongodb/back:latest
    container_name: tms-mongodb-back
    environment:
         - NODE_ENV=production
         - TMS__MONGODB_HOST=mongodb
         - TMS__MONGODB_PORT=27017
    command: ['./wait-for.sh', 'mongodb:27017', '-t', '300', '--', 'node', 'server']
  
  ue_admin:
    build:
      context: ./ue_admin
      args:
        vue_app_base_url: /admin
        vue_app_login_key_username: username
        vue_app_login_key_password: password
        vue_app_login_key_pin: pin
    image: tms-mongodb/ue-admin:latest
    container_name: tms-mongodb-ue_admin
    environment:
      - NGINX_WEB_BASE_URL=/admin
      
  ue_mongo:
    build:
      context: ./ue_mongo
      args:
        vue_app_base_url: /mongo
        vue_app_login_key_username: username
        vue_app_login_key_password: password
        vue_app_login_key_pin: pin
    image: tms-mongodb/ue-mongo:latest
    container_name: tms-mongodb-ue_mongo
    environment:
      - NGINX_WEB_BASE_URL=/mongo
