version: '3.7'
services:
  mongodb:
    build: ./mongodb
    image: tms-mongodb/mongo:latest
    container_name: tms-mongodb-mongo

  back:
    build: ./back
    image: tms-mongodb/back:latest
    container_name: tms-mongodb-back
    # environment:
    #   默认
    #   - NODE_ENV=production
    #   app 名称
    #   - TMS_APP_NAME=tms-mongo-web
    #   app 端口号
    #   - TMS_APP_PORT=3000
    #   导入文件存放目录
    #   - TMS_FINDER_FS_ROOTDIR=/storage
    #   导出文件存放目录
    #   - TMS_FINDER_FS_OUTDIR=/storage
    #   是否使用文件自身命名
    #   - TMS_FINDER_FS_CUSTOMNAME=true
    #   日志输出级别
    #   - TMS_APP_LOG4JS_LEVEL=debug
    #   mongodb 配置
    #   - TMS_MONGODB_HOST=localhost
    #   - TMS_MONGODB_PORT=27017
    #   - TMS_MONGODB_USER=root
    #   - TMS_MONGODB_PASSWORD=root
    #   redis 配置
    #   - TMS_REDIS_PREFIX=dev-op
    #   - TMS_REDIS_HOST=localhost
    #   - TMS_REDIS_PORT=6378
    #   - TMS_REDIS_EXPIRESIN=7200
    #   swagger 配置
    #   - TMW_API_HOST=http://localhost
    #   - TMW_API_PORT=3000
    #   bucket
    #   - TMW_REQUIRE_BUCKET=
    #   复制集：开启实时复制
    #    - TMW_REALTIME_REPLICA=true
    #    - TMW_REPLICA_SET_NAME=tmw-rA_s
    #    - TMW_MONGODB_S_PORT=27018
    #    - TMW_MONGODB_A_PORT=27019
    #    - TMS_MONGODB_S_HOST=""
    #    - TMS_MONGODB_A_HOST=""
    #   redis增加密码
    #    - TMS_REDIS_PWD=''
    #   应用路由前缀
    #    - TMS_APP_ROUTER_AUTH=''
    #    - TMS_APP_ROUTER_CONTROLLER=''
    #    - TMS_APP_ROUTER_PLUGIN=''
    #    - TMS_APP_ROUTER_FSDOMAIN=''
    #    - TMS_APP_DATA_ACTION_LOG=''
    command:
      [
        'sh',
        './wait-for.sh',
        'mongodb:27017',
        '-t',
        '300',
        '--',
        'node',
        'server',
      ]
  ue_admin:
    build:
      context: .
      dockerfile: Dockerfile-ueadmin
      args:
        vue_app_login_key_username: username
        vue_app_login_key_password: password
        vue_app_login_key_pin: pin
        vue_app_base_url: /admin
        vue_app_back_auth_base: /auth
        vue_app_back_api_base: /api
        vue_app_back_api_fs: /fs
        vue_app_front_doceditor_add: ''
        vue_app_front_doceditor_modify: ''
        vue_app_storetoken_way: session
    image: tms-mongodb/ue-admin:latest
    container_name: tms-mongodb-ue_admin
    environment:
      - NGINX_WEB_BASE_URL=/admin

  ue_mongo:
    build:
      context: .
      dockerfile: Dockerfile-uemongo
      args:
        vue_app_login_key_username: username
        vue_app_login_key_password: password
        vue_app_login_key_pin: pin
        vue_app_base_url: /mongo
        vue_app_back_auth_base: /auth
        vue_app_back_api_base: /api
        vue_app_back_api_fs: /fs
        vue_app_front_doceditor_add: ''
        vue_app_front_doceditor_modify: ''
        vue_app_front_batcheditor: ''
        vue_app_storetoken_way: session
        vue_app_pluginsub_names: ''
    image: tms-mongodb/ue-mongo:latest
    container_name: tms-mongodb-ue_mongo
    environment:
      - NGINX_WEB_BASE_URL=/mongo
