.el-select .el-input {
  width: 130px;
}

.input-with-select .el-input-group__prepend {
  background-color: #fff;
}

.el-pagination {
  margin-left: auto !important;
}

.el-dialog__body {
  height: 400px;
  overflow-y: auto;
}

.tms-frame__header {
  min-height: 40px;
  line-height: 40px;
}

.tms-frame__header .el-breadcrumb {
  line-height: 40px;
}

.tms-frame__main__center {
  width: calc(75% - 16px);
  background-color: #f0f3f6 !important;
}

.tms-table /deep/ .el-table__fixed-right {
  height: 100% !important;
}

.tms-table /deep/ .el-table__fixed {
  height: 100% !important;
}

.tmw-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.tmw-tags .el-tag+.el-tag {
  margin-left: 10px;
}

.tmw-attr-form {
  padding: 10px;
  background: #f5f5f5;
  box-sizing: border-box;
}

.tmw-attr-form .el-form-item {
  margin-bottom: 22px;
}

.tmw-attr-form .el-form-item .el-form-item__label {
  float: left;
}

.tmw-attr-form .el-form-item:last-child {
  display: none;
}

.tmw-pagination {
  margin-top: 5px;
}

.tmw-pagination>.tmw-pagination__text {
  display: inline-block;
  padding-left: 5px;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  color: #606266;
  letter-spacing: 3px;
}

.mzindex {
  z-index: 9999 !important;
}