.el-select .el-input {
  width: 130px;
}
.input-with-select .el-input-group__prepend {
  background-color: #fff;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.el-pagination {
  margin-left: auto !important;
}
.el-dialog__body {
  height: 400px;
  overflow-y: auto;
}
