.wrapper {
  color: #000;
}

.wrapper .content {
  padding: 20px;
}

.wrapper .name {
  margin-bottom: 8px;
}

.wrapper .actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
