.el-dialog__body {
  height: 400px;
  overflow-y: auto;
}
.tms-frame__header {
  min-height: 40px;
  line-height: 40px;
}
.tms-frame__header .el-breadcrumb {
  line-height: 40px;
}
.tms-frame__main__center {
  width: calc(75% - 16px);
  background-color: #f0f3f6 !important;
}
.table-fixed /deep/ .el-table__fixed-right {
  height: 100% !important;
}
.table-fixed /deep/ .el-table__fixed {
  height: 100% !important;
}
.tmw-pagination {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.tmw-pagination > .tmw-pagination__text {
  padding-left: 5px;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  vertical-align: top;
  color: #606266;
  letter-spacing: 3px;
}
.mzindex {
  z-index: 9999 !important;
}
.schema-editor #pane-properties {
  overflow-x: auto;
}
.schema-editor #pane-properties > .tms-flex_gap_2 {
  width: 1000px;
  height: 270px;
}
.schema-editor #pane-properties > .tms-flex_gap_2 > div,
.schema-editor #pane-properties > .tms-flex_gap_2 form {
  height: 100%;
  overflow-y: auto;
}
